// vw равные 6px на разных ширинах экранах

//$vw-1920: 0.3125000000vw;
//$vw-1440: 0.4166666667vw;
//$vw-1280: 0.4687500000vw;
//$vw-1024: 0.5859375000vw;
//$vw-768: 0.7812500000vw;
//$vw-480: 1.2500000000vw;
//$vw-375: 1.6000000000vw;
//$vw-320: 1.8750000000vw;

// 16px в пересчете на vw для разных размеров

$vw-1920: 0.833vw;
$vw-1440: 1.143vw;
$vw-1280: 1.250vw;
$vw-1024: 1.563vw;
$vw-992: 1.613vw;
$vw-768: 2.083vw;
$vw-480: 3.333vw;
$vw-375: 4.267vw;
$vw-320: 5.000vw;
