// medium это всегда основные брекпоинты
// остальное или самое маленькие устройства или самые большие

$laptop: 1440px;
$tablet: 1023px;
$mobile: 767px;


// MOBILE


@mixin mobile-above {
  @media (width > $mobile) {
    @content;
  }
}

@mixin mobile {
  @media (width <= $mobile) {
    @content;
  }
}


// TABLET


@mixin tablet-above {
  @media (width > $tablet) {
    @content;
  }
}

@mixin tablet {
  @media (width <= $tablet) {
    @content;
  }
}


// LAPTOP


@mixin laptop-above {
  @media (width > $laptop) {
    @content;
  }
}

@mixin laptop {
  @media (width <= $laptop) {
    @content;
  }
}







